Repository cortega26/estacionate-mvp: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: Introduce sales representative management with new admin UI, API routes for users and buildings, and updated application routing.
  backend/api/admin/buildings.ts
  backend/api/admin/users.ts
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/layouts/AdminLayout.tsx
  frontend/src/pages/admin/SalesReps.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

test: Add API and service tests for sales system and admin user management.
  backend/tests/sales.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: initialize backend application with Express, Prisma schema, and core API routes.
  backend/api/admin/stats.ts
  backend/app.ts
  backend/middleware/security.ts
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/scripts/repro_login_failure.ts
  frontend/src/pages/admin/DashboardPage.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: add server diagnostic and manual startup scripts, server startup tests, and a login API with lockout functionality.
  backend/api/auth/login.ts
  backend/scripts/diagnose-hang.ts
  backend/scripts/diagnose-startup.ts
  backend/scripts/manual-start.ts
  backend/tests/server-startup.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: introduce admin API for building commission and sales rep assignment, and a frontend page for sales rep administration.
  backend/api/admin/buildings.ts
  frontend/src/pages/admin/SalesReps.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: introduce initial Prisma schema and admin features for sales reps and analytics.
  backend/api/admin/analytics.ts
  backend/prisma/schema.prisma
  frontend/src/pages/admin/SalesReps.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: Add Vercel deployment configuration for functions, security headers, and environment variables.
  backend/vercel.json
Due: none

debug: expose error details in response
  backend/src/middleware/errorHandler.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

debug: instrument login with try-catch
  backend/src/api/auth/login.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

verify: add version tracer to health check
  backend/src/api/health.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

test: Add `test.txt` containing 'test' content.
  test.txt
Due: none

refactor: rename test.txt to test2.txt
  test2.txt
Due: none

fix(frontend): analytics url and csp headers
  frontend/src/pages/admin/Analytics.tsx
  frontend/vercel.json
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: introduce project audit reports and core backend configuration with initial service and test files
  audit-system/reports/A0_Findings.md
  audit-system/reports/A1_Findings.md
  audit-system/reports/A2_Findings.md
  audit-system/reports/A3_Findings.md
  audit-system/reports/A4_Findings.md
  audit-system/reports/A5_Findings.md
  audit-system/reports/A6_Findings.md
  audit-system/reports/A7_Findings.md
  audit-system/reports/A8_Findings.md
  audit-system/reports/Consolidated_Report.md
  backend/.env.example
  backend/app.ts
  backend/prisma/schema.prisma
  backend/src/services/SalesService.ts
  backend/tests/repro_commission_dup.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

chore: remove test2.txt
  test2.txt
Due: none

feat(auth): implement user and resident login API with account lockout and JWT-based authentication.
  backend/package-lock.json
  backend/package.json
  backend/src/api/auth/login.ts
  backend/tests/security-headers.test.ts
  backend/tests/server-startup.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: Initialize Express app with Sentry, security headers, CORS, and error handling, alongside Prisma schema, authentication services, and security header tests.
  backend/app.ts
  backend/prisma/schema.prisma
  backend/src/middleware/errorHandler.ts
  backend/src/services/auth.ts
  backend/tests/security-headers.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: initialize MVP with core booking, payment, admin features, and testing infrastructure
  audit-system/reports/A_QuickWins_Findings.md
  audit-system/reports/B_DeepDive_Findings.md
  audit-system/reports/C_TestsConfig_Findings.md
  audit-system/reports/Comprehensive_Audit_Report.md
  backend/api/index.ts
  backend/app.ts
  backend/src/api/admin/bookings.ts
  backend/src/api/bookings/cancel.ts
  backend/src/api/bookings/create.ts
  backend/src/api/cron/generate-availability.ts
  backend/src/api/payments/checkout.ts
  backend/src/api/payments/webhook.ts
  backend/src/services/BookingService.ts
  backend/src/services/PaymentService.ts
  backend/tests/admin.test.ts
  backend/tests/cancellation.test.ts
  backend/tests/cron-availability.test.ts
  backend/tests/verify-webhook.test.ts
  backend/vercel.json
  frontend/e2e/smoke.spec.ts
  frontend/playwright-report/index.html
  frontend/playwright.config.ts
  frontend/src/App.tsx
  frontend/src/layouts/AdminLayout.tsx
  frontend/src/main.tsx
  frontend/src/pages/admin/BookingManagement.tsx
  frontend/src/pages/admin/SalesReps.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/pages/dashboard/SearchPage.tsx
  frontend/src/pages/sales/SalesDashboard.tsx
  frontend/test-results/.last-run.json
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

Fixing Vercel deploying error
  backend/api/cron/generate-availability.ts
  backend/src/api/admin/bookings.ts
  backend/src/api/admin/users.ts
  backend/src/api/auth/login.ts
  backend/src/services/auth.ts
  backend/tests/security-fixes.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

fix: resolve singleton module resolution and update tests
  TERMS.md
  backend/package-lock.json
  backend/package.json
  backend/prisma/schema.prisma
  backend/src/api/admin/users.ts
  backend/src/api/cron/generate-availability.ts
  backend/src/api/cron/reconcile.ts
  backend/tests/admin-analytics.test.ts
  backend/tests/cron-availability.test.ts
  backend/tests/payment-service-real.test.ts
  backend/tests/reconcile.test.ts
  backend/tests/repro-schema-issues.test.ts
  backend/tests/sales.test.ts
  backend/tests/singleton.ts
  backend/tests/verify-s2-fixes.test.ts
  documentation/AGENTS.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

chore: add script to run test coverage
  backend/scripts/verify.sh
Due: none

feat(bookings): atomic payment flow, backend service refactor, and cleanup
  backend/app.ts
  backend/src/api/bookings/create.ts
  backend/src/api/payments/checkout.ts
  backend/src/api/routes.ts
  backend/src/lib/asyncHandler.ts
  backend/src/lib/error-codes.ts
  backend/src/lib/errors.ts
  backend/src/services/BookingService.ts
  backend/tests/bookings.test.ts
  backend/tests/payments.test.ts
  frontend/src/features/bookings/components/BookingModal.tsx
  frontend/src/pages/admin/BookingManagement.tsx
  frontend/src/pages/dashboard/SearchPage.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

test(unit): add robust unit tests for BookingService
  backend/tests/unit/BookingService.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

refactor(frontend): standardize api client usage and remove hardcoded urls
  frontend/src/pages/PaymentSimulator.tsx
  frontend/src/pages/admin/BuildingsPage.tsx
  frontend/src/pages/auth/ForgotPasswordPage.tsx
  frontend/src/pages/auth/ResetPasswordPage.tsx
  frontend/src/pages/gatekeeper/Dashboard.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat(backend): refactor payment service and add unit tests
  backend/src/services/PaymentService.ts
  backend/tests/unit/PaymentService.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat(security): harden cors policy and centralize configuration
  backend/app.ts
  backend/src/lib/cors.ts
  backend/tests/integration/cors.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: implement Mercado Pago payment processing and expand test suite with new integration, security, and E2E tests.
  audit-system/reports/A9_Testing_Strategy.md
  backend/prisma/seed.ts
  backend/src/services/PaymentService.ts
  backend/tests/integration/commissions.test.ts
  backend/tests/integration/webhook-payment-flow.test.ts
  backend/tests/repro_commission_dup.test.ts
  backend/tests/security-headers.test.ts
  frontend/e2e/admin-flow.spec.ts
  frontend/e2e/smoke.spec.ts
  frontend/playwright-report/index.html
  frontend/test-results/.last-run.json
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

chore: operational readiness fixes (CI/CD & Observability)
  .github/workflows/cd-backend.yml
  .github/workflows/cd-frontend.yml
  backend/src/middleware/errorHandler.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: Implement core application structure, admin building management, payment services, and operational documentation.
  RELEASE_NOTES.md
  RELEASE_READINESS_REPORT.md
  RUNBOOK.md
  SECURITY_CLOSURE.md
  backend/backend_test_full.log
  backend/failure_debug.log
  backend/failure_debug_v3.log
  backend/prisma/schema.prisma
  backend/server_startup_failure.log
  backend/src/api/admin/buildings.ts
  backend/src/api/spots/search.ts
  backend/src/lib/redis.ts
  backend/src/services/BookingService.ts
  backend/src/services/PaymentService.ts
  backend/src/services/booking/BookingValidator.ts
  backend/src/services/payment/MercadoPagoAdapter.ts
  backend/src/services/payment/PaymentGateway.ts
  backend/src/services/payment/SimulatorAdapter.ts
  backend/test_output_concurrency.log
  backend/tests/admin-buildings.test.ts
  backend/tests/booking-concurrency.test.ts
  backend/tests/search-cache.test.ts
  frontend/e2e/smoke.spec.ts
  frontend/playwright-report/index.html
  frontend/src/App.tsx
  frontend/src/components/ProtectedLayout.tsx
  frontend/src/pages/admin/SalesReps.tsx
  frontend/src/pages/admin/components/CreateRepModal.tsx
  frontend/src/pages/admin/components/ManageBuildingsList.tsx
  frontend/src/pages/auth/LoginPage.tsx
  frontend/src/routes.config.tsx
  frontend/test-results/.last-run.json
  frontend/vite.config.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

docs: Add Estacionate commercial pitch, sales script, and objection handling.
  COMMERCIAL_PITCH.md
  RUNBOOK.md
Due: none

feat(admin): implement building management page with CRUD operations and tests
  backend/src/api/admin/buildings.ts
  backend/tests/admin-buildings.test.ts
  frontend/src/pages/admin/BuildingsPage.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: add admin building management page with CRUD operations and force delete functionality.
  backend/src/api/admin/buildings.ts
  backend/tests/admin-buildings.test.ts
  frontend/src/pages/admin/BuildingsPage.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

Path conditions:
  bash -c 'cd backend && npm run build': any of: backend/**/*.{ts,tsx}
  bash -c 'cd backend && npm run lint': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
  bash -c 'cd frontend && npm run lint': any of: frontend/**/*.{ts,tsx}
