Repository cortega26/estacionate-mvp: changes, and which lint-staged commands are due for each by the changed paths.
All: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat(bookings): add booking cancellation and refund functionality with associated tests.
  backend/src/api/bookings/cancel.ts
  backend/tests/cancellation.test.ts
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: implement core data models, booking services, and initial admin building management UI.
  backend/prisma/schema.prisma
  backend/src/api/admin/buildings.ts
  backend/src/api/cron/generate-availability.ts
  backend/src/services/BookingService.ts
  backend/tests/bookings.test.ts
  frontend/src/pages/admin/BuildingsPage.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat(admin): add booking management page with filtering and cancellation functionality
  frontend/src/features/bookings/components/BookingModal.tsx
  frontend/src/pages/admin/BookingManagement.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat(admin/buildings): implement buildings management page with list, edit, archive, and delete functionality.
  frontend/src/pages/admin/BuildingsPage.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: Implement Mercado Pago payment gateway, admin management pages, and sales dashboard.
  backend/src/api/admin/bookings.ts
  backend/src/api/cron/reconcile.ts
  backend/src/services/payment/MercadoPagoAdapter.ts
  frontend/src/components/ui/Skeleton.tsx
  frontend/src/lib/utils.ts
  frontend/src/pages/PaymentSimulator.tsx
  frontend/src/pages/admin/Analytics.tsx
  frontend/src/pages/admin/BookingManagement.tsx
  frontend/src/pages/admin/BuildingsPage.tsx
  frontend/src/pages/sales/SalesDashboard.tsx
  frontend/src/routes.config.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat(admin): implement booking management page with filtering and cancellation functionality
  frontend/src/pages/admin/BookingManagement.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: add admin dashboard, sales dashboard, booking management, and buildings pages
  frontend/src/pages/admin/BookingManagement.tsx
  frontend/src/pages/admin/BuildingsPage.tsx
  frontend/src/pages/admin/DashboardPage.tsx
  frontend/src/pages/sales/SalesDashboard.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: add admin dashboard with statistics and building management pages with CRUD functionality.
  frontend/src/pages/admin/BuildingsPage.tsx
  frontend/src/pages/admin/DashboardPage.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat(admin): add booking management UI, API, and Vercel deployment configuration with cron jobs and security headers.
  backend/scripts/manual-cleanup.ts
  backend/src/api/admin/bookings.ts
  backend/vercel.json
  frontend/src/pages/admin/BookingManagement.tsx
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: enhance documentation and setup scripts for local development, validation, and agent onboarding
  .editorconfig
  .gitignore
  AGENTS.md
  CONTRIBUTING.md
  README.md
  backend/.env.example
  backend/.env.local.example
  documentation/CODEMAP.md
  documentation/INFRASTRUCTURE.md
  documentation/README.md
  documentation/TASKS.md
  documentation/VALIDATION.md
  documentation/adr/0001-local-development-stack.md
  documentation/adr/0002-root-validation-command.md
  documentation/adr/0003-deployment-topology.md
  documentation/adr/README.md
  frontend/.env.example
  package.json
  scripts/bootstrap.sh
  scripts/verify.sh
Due: none

feat: add commercial planning documents and sales playbook for 2026
  .codacy/codacy.yaml
  docs/client-pitch-deck-outline-2026.md
  docs/commercial-conversion-plan-2026.md
  docs/commercial-roadmap-2026.md
  docs/conversion-backlog-2026.md
  docs/founder-sales-playbook-es.md
  documentation/README.md
Due: none

feat: Enhance user management and payment flow
  .codacy/codacy.yaml
  backend/prisma/migrations/20260427024933_estacionate/migration.sql
  backend/src/api/admin/users.ts
  backend/src/api/bookings/summary.ts
  backend/src/api/routes.ts
  frontend/playwright.autopilot.config.ts
  frontend/src/pages/PaymentSimulator.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/pages/checkout/FailurePage.tsx
  frontend/src/pages/checkout/SuccessPage.tsx
  package.json
  spec.md
  tests/admin-user-management.spec.ts
  tests/auth.smoke.spec.ts
  tests/payment-result-pages.spec.ts
  tests/playwright.ts
  tests/resident-search.spec.ts
  todo.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: upgrade Node.js version to 24.15.0 across workflows and Dockerfiles; enhance resident seeding and login feedback tests
  .github/workflows/cd-backend.yml
  .github/workflows/ci-backend.yml
  .github/workflows/ci-docs.yml
  .github/workflows/ci-frontend.yml
  .nvmrc
  backend/Dockerfile
  backend/prisma/seed.ts
  backend/tests/login-integration.test.ts
  frontend/Dockerfile
  package.json
  tests/auth.smoke.spec.ts
  todo.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

fix: update Vercel action version in CI workflows; update Node.js version in documentation and scripts
  .github/workflows/cd-backend.yml
  .github/workflows/cd-frontend.yml
  README.md
  documentation/INFRASTRUCTURE.md
  tests/admin-dashboard.spec.ts
Due: none

feat: implement encryption for resident sensitive fields in seed and signup processes; enhance crypto library with preparation function
  backend/prisma/seed-demo.ts
  backend/prisma/seed.ts
  backend/src/api/auth/signup.ts
  backend/src/lib/crypto.ts
  backend/tests/crypto.test.ts
  docs/production-backlog.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: enhance admin dashboard and user management with confirmation clarity
  backend/prisma/migrations/20260427163455_add_building_is_demo/migration.sql
  backend/prisma/schema.prisma
  backend/prisma/seed-demo.ts
  backend/prisma/seed.ts
  backend/src/api/admin/buildings.ts
  backend/src/lib/cors.ts
  backend/tests/admin-buildings.test.ts
  backend/tests/integration/cors.test.ts
  frontend/src/pages/admin/BuildingsPage.tsx
  frontend/src/pages/admin/SettingsPage.tsx
  frontend/src/pages/admin/UserManagement.tsx
  frontend/src/pages/admin/components/ManageBuildingsList.tsx
  spec.md
  tests/admin-buildings.spec.ts
  tests/admin-dashboard.spec.ts
  tests/admin-sales-reps.spec.ts
  tests/admin-settings.spec.ts
  tests/admin-user-management.spec.ts
  todo.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint', bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

feat: enhance backend observability by replacing console.error with structured logger calls in admin and concierge handlers; add corresponding tests for error logging consistency
  backend/src/api/admin/analytics.ts
  backend/src/api/admin/bookings.ts
  backend/src/api/admin/buildings.ts
  backend/src/api/admin/users.ts
  backend/src/api/concierge/dashboard.ts
  backend/src/api/concierge/verify.ts
  backend/src/api/payments/webhook.ts
  backend/tests/admin-analytics.observability.test.ts
  backend/tests/admin-bookings.observability.test.ts
  backend/tests/admin-buildings.observability.test.ts
  backend/tests/admin-users.observability.test.ts
  backend/tests/concierge-observability.test.ts
  backend/tests/payments-webhook.observability.test.ts
  spec.md
  todo.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

Refactor code structure for improved readability and maintainability
  backend/src/api/auth/forgot-password.ts
  backend/src/api/auth/reset-password.ts
  backend/src/api/spots/search.ts
  backend/src/lib/event-bus.ts
  backend/tests/auth-recovery.observability.test.ts
  backend/tests/event-bus.observability.test.ts
  backend/tests/spots-search.observability.test.ts
  documentation/ROADMAP_SAAS_INDUSTRY_GRADE.md
  spec.md
  todo.md
Due: bash -c 'cd backend && npm run build', bash -c 'cd backend && npm run lint'

feat: add legal and commercial guardrails documentation for monetization changes; include checklist for compliance
  AGENTS.md
  documentation/AGENT_POLICY.md
  documentation/LEGAL_COMMERCIAL_GUARDRAILS.md
  documentation/OWNERSHIP.md
  documentation/TECH_SPEC.md
  documentation/adr/0006-legal-commercial-monetization-architecture.md
  documentation/task-recipes/monetization-change.md
Due: none

Refactor checkout and dashboard pages for demo simulation; update legal terms and outreach documentation
  README.md
  documentation/AGENT_POLICY.md
  documentation/CODEMAP.md
  documentation/INFRASTRUCTURE.md
  documentation/LESSONS.md
  documentation/OWNERSHIP.md
  documentation/README.md
  documentation/ROADMAP_SAAS_INDUSTRY_GRADE.md
  documentation/TASKS.md
  documentation/TECH_SPEC.md
  documentation/TERMINOS_Y_CONDICIONES.md
  documentation/VALIDATION.md
  documentation/adr/0007-tenancy-model.md
  documentation/adr/0008-rbac.md
  documentation/adr/0009-user-vs-resident-identity.md
  documentation/adr/0010-booking-state-machine.md
  documentation/adr/0011-payment-states.md
  documentation/commercial/ADMINISTRADORA_OUTREACH.md
  documentation/commercial/OBJECTIONS_FAQ.md
  documentation/commercial/PILOT_PHASE_1_CHECKLIST.md
  documentation/commercial/PITCH_PHASE_1.md
  documentation/project_context/01-evaluacion-de-la-idea.md
  documentation/project_context/02-pros-y-contras.md.md
  documentation/project_context/03-implementacion-tecnica-mvp
  documentation/project_context/estacionate_consultoria_mvp.md
  documentation/task-recipes/monetization-change.md
  frontend/src/features/bookings/components/BookingModal.tsx
  frontend/src/pages/PaymentSimulator.tsx
  frontend/src/pages/admin/BookingManagement.tsx
  frontend/src/pages/admin/BuildingsPage.tsx
  frontend/src/pages/admin/DashboardPage.tsx
  frontend/src/pages/admin/SettingsPage.tsx
  frontend/src/pages/checkout/FailurePage.tsx
  frontend/src/pages/checkout/SuccessPage.tsx
  frontend/src/pages/dashboard/SearchPage.tsx
  frontend/src/pages/legal/TermsPage.tsx
  frontend/src/pages/sales/SalesDashboard.tsx
Due: bash -c 'cd frontend && npm run type-check', bash -c 'cd frontend && npm run lint'

docs: update installation and setup instructions in README and RUNBOOK; adjust Node.js and npm version requirements in package-lock.json
  README.md
  RUNBOOK.md
  package-lock.json
Due: none

feat(settings): add permissions configuration for various npm and Bash commands
  .claude/settings.json
Due: none

docs(readme): añadir badge y tagline de Tooltician ecosystem
  README.md
Due: none

docs(readme): badge Tooltician en español
  README.md
Due: none

refactor(badge): usar badge centralizado tooltician.com/badge.svg
  README.md
Due: none

docs(badge): badge Tooltician -> Parte de Tooltician
  README.md
Due: none

fix(badge): use shields.io URL and move to last position
  README.md
Due: none

Path conditions:
  bash -c 'cd backend && npm run build': any of: backend/**/*.{ts,tsx}
  bash -c 'cd backend && npm run lint': any of: backend/**/*.{ts,tsx}
  bash -c 'cd frontend && npm run type-check': any of: frontend/**/*.{ts,tsx}
  bash -c 'cd frontend && npm run lint': any of: frontend/**/*.{ts,tsx}
